body {
    background-color: #FFFFFF;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    font-family: "Arial", Verdana, Tahoma, sans-serif, serif;
    color: #000000;
    font-style: normal;
    font-size: 100%;
}
